/* REAL APP — frontend */

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAR6eEEZ1u1b78zfOj2mqjCONHpL7MwoyA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=labourmandi-a0b80.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=labourmandi-a0b80
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=labourmandi-a0b80.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=521069554078
NEXT_PUBLIC_FIREBASE_APP_ID= G-BCWS22EVBR

# Razorpay/
NEXT_PUBLIC_Razorpay_KEY=rzp_test_RkFpu4TkYZurpb
NEXT_PUBLIC_RAZORPAY_KEY_ID=5NQ3uwvR7hjTIDtJYPyp4ZZN

# FCM / WebSocket
NEXT_PUBLIC_FCM_KEY=
NEXT_PUBLIC_WS_URL=

# Demo / Mock
MOCK_DELAY=2000
SIMULATE_ERROR=false
ROLE=admin
